{% extends 'html/base.html' %}
{% load static %}
{% block title %}<title>Awwards|Home</title>{% endblock %}
 {% block css %}<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}

{% block content %}

<div class="bdy">
     {% for message in messages %}
    <div class="alert alert-warning" role="alert">
     {{message}}
     </div>
    {% endfor %}

 <div class="upper-side">
     <img class="project-pic" src="{{project.project_pic.url}}">

     <div class="details">
     <p class="name">{{project.name}}</p><br>
     <span class="user">By <span class="username"> {{project.user}} </span><i>FROM</i> <span class="country">{{project.country}}</span> WITH <span class="a-rating">{{project.rating}}</span></span><br>
<div class="rating">
         <span class="rt"><p class="rate" style="border:solid 2px #0000FF;">{{rating.design}}</p>DESIGN</span>
         <span class="rt"><p class="rate" style="border:solid 2px #00CC99;">{{rating.usability}}</p>USABILITY</span>
         <span class="rt"><p class="rate" style="border:solid 2px #B0BF1A;">{{rating.content}}</p>CONTENT</span>
         </div>
   <a class="link" href="{{project.live_link}}" target="_blank">Visit Site</a>
         <p class="sod"><span class="ss">Site of the Day </span>{{project.posted_at}} </p>
    </div>
 </div>


<div>
    <p class="no-v"><span class="no">Nominees</span> We need your vote!</p>
<div class="projects">

    {% for project in projects %}
 <div class="project">
     <a href="/view-project/{{project.id}}">
    <img src="{{project.project_pic.url}}" alt="project-img" class="project-img">
     </a>
     <div class="p_details">
         <p class="names">{{project.name}}</p>
         <div class="details">
         <span>From: {{project.country}}</span>
             <span>{{project.posted_at}}</span>
         </div>

         <div class="links">
         <span><img class="profile-pic" src="{{project.user.profile.profile_pic.url}}" alt="d"> By <span class="postedby">{{project.user.username}}</span></span>
       <span><a href="{{project.live_link}}" target="_blank"><i class="material-icons">language</i></a></span>
       </div>
     </div>

 </div>
    {% endfor %}
</div>

</div>



</div>

</body>
</html>

{% endblock %}