{% extends 'html/base.html' %}
{% load static %}
{% block title %}<title>Awwards|Profile</title>{% endblock %}
 {% block css %}<link rel="stylesheet" href="{% static 'css/profile.css' %}"> {% endblock %}

{% block content %}

<div class="container">
    <div id="profile" >
        <div class="user-profile">
                <img src={{profile.profile_pic.url}} alt="pic" />
                <div id="all-details">
                <div id="details">
                <div>
                <p>Full Name: {{profile.user.first_name}}</p>
                <a href="#" target="_blank" >Username: {{profile.user.username}}</a>
                </div>
                <div>
                <p>Email: {{profile.user.email}}</p>
                </div>
                </div>
               <p>Bio: {{profile.caption}}</p>
                </div>
        </div>

    <div class="">

       {% for message in messages %}
    <div class="alert alert-danger" role="alert">
     {{message}}
     </div>
    {% endfor %}
    <h4 claas="r-header">Update Profile</h4>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="divide">
  <div class="form-group">
    <label for="username">Username</label>
   <input type="text" class="form-control" name="username"  value="{{profile.user.username}}" id="username" autofocus>
  </div>

  <div class="form-group">
    <label for="fullname">First Name</label>
   <input type="text" class="form-control" name="fullname" value="{{profile.user.first_name}}" id="fullname">
  </div>

  </div>

  <div class="form-group">
      <label for="email">Email</label>
    <input type="email" class="form-control" name="email" value="{{profile.user.email}}" id="email" >
  </div>

  <div class="form-group">
      <label for="profile_pic">Profile Pic</label>
    <input type="file" class="form-control" name="profile_pic"  id="profile_pic" accept="media/*" required="">
  </div>


     <div class="form-group">
      <label for="bio">Bio</label>
         <textarea type="text" class="form-control" name="bio" value="{{profile.caption}}" id="bio" required=""></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>
        </div>

        </div>

    <div id="repos">

        {% for project in projects %}

        <div class="user-repo">
              <a href="/view-project/{{project.id}}">
            <img src={{project.project_pic.url}} alt="" />
              </a>
            <p>{{project.name}}</p>
               <p>{{project.description}}</p>
               <div id="other">
               <p>Rating: {{project.rating}}</p>
               <p>Comments:{{projects.comments}}</p>
               </div>
              <a href="{{project.live_link}}" target="_blank" >Visit Site</a>
            </div>`

        {% endfor %}
    </div>


</div>





</body>
</html>

{% endblock %}