{% extends 'html/base.html' %}
{% load static %}
{% block title %}<title>Awwards|Post</title>{% endblock %}
 {% block css %}<link rel="stylesheet" href="{% static 'css/project-form.css' %}"> {% endblock %}

{% block content %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
     {{message}}
     </div>
    {% endfor %}

<form class="p-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

  <div class="form-group">
    <label for="pic">Project Pic</label>
    {{form.project_pic}}
  </div>

  <div class="form-group">
      <label for="name">Name</label>
     {{ form.name }}
  </div>

    <div class="form-group">
      <label for="description">Description</label>
     {{ form.description }}
  </div>

     <div class="form-group">
      <label for="contry">Country</label>
     {{ form.country }}
  </div>

     <div class="form-group">
      <label for="live-link">Live Link</label>
     {{form.live_link }}
  </div>

  <button type="submit" class="btn btn-primary">Sumit</button>
</form>
</div>

</body>
</html>

{% endblock %}