.bdy{
background-color:#F5FFFA;
margin:0px;
}



.intro{
color:#fff;
text-align:center;
font-weight:bold;
font-size:50px;
}


.upper-side{
height: 90vh;
text-align:center;
padding-top:20px;
position:relative;

}


.project-pic{
width:100%;
height:90%;
z-index:-1;
filter: brightness(50%);
}

.name{
font-weight:bold;
font-size:50px;
color:#fff;
position:absolute;
top:40%;
left: 50%;
transform: translate(-50%, -50%);
z-index:999;
}

.user{
font-size:15px;
position:absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
z-index:999;
}

.sod{
font-size:17px;
position:absolute;
top:10%;
left: 8%;
transform: translate(-50%, -50%);
color:white;
}

.ss{
font-weight:bold;
}

.link{
position:absolute;
top:80%;
left: 5%;
transform: translate(-50%, -50%);
background-color:#40E0D0;
z-index:999;
padding:5px 15px;
color:#fff;
border-radius:15px;
font-size:17px;
text-decoration: none;
font-weight:20px;
}

.username{
font-weight:bold;
color:#40E0D0;
font-size:20px;

}

.country, .rating{
font-weight:bold;
font-size:20px;
}

.p_desc{
font-size:20px;
}

.rate{
background-color:red;
font-size:30px;
padding:35px 50px;
border-radius:100%;
margin:7px 20px;
background-color:transparent;
border:solid 2px red;
}

.rating{
display:flex;
position:absolute;
top:60%;
left: 38%;
color:white;
}

.rt{
font-weight:10;
font-size:17px;
}

.a-rating{
font-size:20px;
font-weight:bold;
}


.no{
font-weight:bold;
}

.no-v{
padding-left:2%;
}













.projects{
padding:0px 30px;
padding-bottom: 40px;
display:flex;
flex-wrap:wrap;
}

.project{
box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
height:500px;
width:420px;
margin:5px;
}

.project-img{
height: 70%;
width: 100%;
}

.profile-pic{
height: 30px;
width: 30px;
margin-right:7px;
}

.p_details{
padding:15px 20px;
}

.details{
 display:flex;
 justify-content:space-between;
 margin-bottom:12px;
}

.links{
 display:flex;
 justify-content:space-between;

}

.names{
font-size:20px;
font-weight:bold;
}

.postedby{
font-weight:bold;
}